<div class="row">
    <div class="col s12">
        <h2>Home</h2>
    </div>
    <div class="col s12">
        Welcome to Present-ly! To get started:
        <ol>
            <li>Click Signup or Login above to create an account.</li>
            <li>Once you are logged in, add your first recipients that you would like to shop for.</li>
            <li>Added your recipients? Now you can use the gifts tab to add products from Etsy to your gift list. Ready to purchase? Mark them off as you go!</li>
        </ol>
        It's that easy! So maybe don't wait until the last minute this year, okay?
    </div>
</div>