<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Holiday Shopping</title>
</head>
<body>
    <header>
        <div class="container">
          <h1>Holiday Shopping Planner</h1>
        </div>
        <nav class="teal darken-2">
            <div class="container">
              <ul>
                <% if (!currentUser) { %>
                  <li><a href="/auth/signup">Signup</a></li>
                  <li><a href="/auth/login">Login</a></li>
                <% } else { %>
                  <li><a href="/auth/logout">Logout</a></li>
                  <li><a href="/profile"><%= currentUser.name %>'s Profile</a></li>
                  <li><a href="/recipients">Recipients</a></li>
                  <li><a href="/gifts">Gifts</a></li>
                <% } %>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
      <%- include('partials/alerts') %>
      <%- body %> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>