<h1>Add a recipient</h1>
<form action="/recipients" method="POST">
    <label for="recipientFirstName">First Name</label>
    <input type="text" id="recipientFirstName" name="firstName">

    <label for="recipientLastName">Last Name</label>
    <input type="text" id="recipientLastName" name="lastName">
    
    <label for="relationship">Relationship</label>
    <select name="relationship" id="relationship">
        <option value="" disabled selected>Choose...</option>
        <option value="parent">Parent</option>
        <option value="grandparent">Grandparent</option>
        <option value="sibling">Sibling</option>
        <option value="pibling">Pibling</option>
        <option value="nibling">Nibling</option>
        <option value="partner/spouse">Partner/Spouse</option>
        <option value="friend">Friend</option>
    </select>

    <input type="integer" name="userId" value="<%= currentUser.id %>" hidden>

    <% const interests = ['cooking', 'books', 'music', 'coding', 'art', 'travel', 'woodworking'] %>
    <% interests.forEach( i => { %>
        <label>
            <input type="checkbox" class="filled-in" name="<%= i %>"><span><%= i %></span>
        </label>
    <% }) %>
    <input type="submit" class="teal btn" value="Add Recipient">
</form>