<h1>Search</h1>
<% results.forEach(r => { %>
    <div class="card blue-grey">
        <div class="card-content white-text">
            <span class="card-title"><%= r.title %></span>
        </div>
        <div class="card-action">
            <a href="<%= r.url %>" target="_blank">View on Etsy</a>
            <a href="/gifts/<%= r.listing_id %>">Add to Gift List</a>
        </div>
    </div>
<% }) %>